# Runtime & Server
NODE_ENV=development
PORT=8080
HOSTNAME=0.0.0.0
BUILD_STANDALONE=true

# API Endpoints
NEXT_PUBLIC_API_URL=/api/v1
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:3001/api/v1
INTERNAL_API_URL=http://127.0.0.1:3001

# Sentry
NEXT_PUBLIC_SENTRY_DISABLED=true

# Timezone
NEXT_PUBLIC_APP_TIMEZONE=Asia/Ho_Chi_Minh
