{"jsc":{"target":"es2021","parser":{"syntax":"typescript","decorators":true},"transform":{"legacyDecorator":true,"decoratorMetadata":true},"keepClassNames":true,"baseUrl":"."},"module":{"type":"commonjs"},"sourceMaps":true}
